/* Css File for shinyaapp */

#intro {
    text-align: center;
}

#shiny-tab-pie > .row {
    clear: both;
    display: inline;
}

#shiny-tab-pie > .row > h1 {
    float: left;
    padding-left: 15px;
}

#shiny-tab-pie > .row > h2 {
    float: right;
    padding-right: 340px;
}

.shiny-output-error {
    visibility: hidden;
}
